In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("CarPrices.csv")
data.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [7]:
car_models = data["Car Model"]

In [9]:
from sklearn.preprocessing import LabelBinarizer
obj = LabelBinarizer()
result = obj.fit_transform(car_models)

In [11]:
result

array([[0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]])

In [15]:
obj.classes_

array(['Audi A5', 'BMW X5', 'Mercedez Benz C class'], dtype='<U21')